.tab {
  margin: 50px auto;
  width: 300px;
  background-color: #ffc282a1;
  padding: 10px 10px 5px;
  border-radius: 5px;

  .tab-header {
    ul {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0;

      li {
        flex: 1 1 auto;
        text-align: center;
        list-style: none;
        height: 30px;
        line-height: 30px;

        &.active {
          border-bottom: 2px solid #ff8200;
        }
      }
    }
  }

  .tab-content {
    .tab-content__item {
      margin: 5px;
      padding: 2px 5px 5px;
      background-color: skyblue;
      border-radius: 5px;

      &.active {
        background-color: #000;
        color: #fff;
      }
    }
  }
}