.tab {
  margin: 50px auto;
  width: 300px;
  background-color: #ffc282a1;
  padding: 10px 10px 5px;
  border-radius: 5px;

  .tab-header {
    ul {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0;

      li {
        flex: 1 1 auto;
        cursor: pointer;
        text-align: center;
        list-style: none;
        height: 30px;
        line-height: 30px;

        span {
          border-radius: 5px;
          margin: 5px;
          padding: 5px 17px;
        }

        &:hover span {
          background-color: rgb(255, 188, 117);
        }

        &.active {
          border-bottom: 2px solid #ff8200;
        }
      }
    }
  }

  .tab-content {
    .item {
      margin: 5px;
      padding: 2px 5px 5px;
      background-color: skyblue;
      border-radius: 5px;
      display: none;

      &.active {
        display: block;
        background-color: #ffc282a1;
        color: #ff8200;
      }
    }
  }
}