<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>计算属性侦听器</title>
</head>

<body>
  <div id="app">
    <input type="text" v-model="firstName" style="margin-bottom: 10px;">
    <br>
    <input type="text" v-model="lastName">
    <p>{{ `computed ${getFullName}` }}</p>
    <p>{{ `watch ${fullName}` }}</p>
  </div>
</body>

</html>

<script src="../node_modules/vue/dist/vue.global.js"></script>

<script>
  const {
    createApp
  } = Vue

  const vm = Vue.createApp({
    data() {
      return {
        firstName: 'd',
        lastName: 'c',
        fullName: ''
      }
    },
    computed: {
      getFullName() {
        // 返回值为timer 不可用
        // setTimeout(() => {
        return this.firstName + '-' + this.lastName
        // }, 1000);
      }
    },
    watch: {
      firstName(val) {
        const timer = setTimeout(() => {
          console.log(this)
          this.fullName = val + '-' + this.lastName
        }, 1000)
      },
      lastName(val) {
        this.fullName = this.firstName + '-' + this.lastName
      }
    }
  })
  vm.mount('#app')
</script>