<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>计算属性侦听器</title>
</head>

<body>
  <input type="text" v-model="firstName">

  <input type="text" v-model="lastName">
  <p>{{ firstName }}</p>
</body>

</html>

<script src="https://unpkg.com/vue@next"></script>

<script>
  const vm = new Vue({
    data() {
      return {
        firstName: 'd',
        lastName: 'c'
      }
    },
    watch: {
      firstName(val) {
        setTimeout(() => {}, 1000)
      }
    }
  })
</script>