<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../common/css/reset.css">
  <link rel="stylesheet" href="./css/index.css">
  <title>input-mutex</title>
</head>

<body>
  <div id="app">
    <div class="input-box">
      <input class="input-1" v-model="form.name" type="text" placeholder="请输入第一个选项">
      <input class="input-2" v-model="form.code" type="text" placeholder="请输入第二个选项">
      <p>{{form.name}}</p>
      <p>{{form.code}}</p>
    </div>
  </div>
</body>

</html>
<script src="https://unpkg.com/vue@next"></script>
<script src="../../common/js/index.js"></script>
<script type="module">

  import { debounce } from '../../common/js/index.js'
  const {
    createApp,
    watch
  } = Vue

  const app = createApp({
    data() {
      return {
        form: {
          name: '123',
          code: '456'
        },
      }
    },
    methods: {
      getTimeOut() {
        return 123
      },
      useWatcher(form) {
        let createNameWatcher
        let createCodeWatcher
        let unNameWatcher
        let unCodeWatcher

        createNameWatcher = createWatcher(
          () => form.name,
          () => {
            unCodeWatcher && unCodeWatcher()
            form.code
          },
          () => {
            
          }
        )
      },
      createWatcher(watcher, startCb, endCb, conditions) {
        return function() {
          return watch(watcher, async (value, preValue ) => {
            if(!conditions()){
              return
            }
            if(value !== '' && value !== preValue){
              startCb()
              await nextTick()
              endCb()
            }
          })
        }
      }
    },
    watch: {

    }
  })

  app.mount('#app')
</script>