.input-box {
  width: 400px;
  padding: 50px 20px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input {
    width: 300px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
    outline: none;

    &:hover {
      box-shadow: 0 0px 16px 0 #999;

    }
  }

  .input-1 {
    background-color: hotpink;
  }

  .input-2 {
    background-color: skyblue;
  }
}