* {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 500px;
  margin: 100px auto;
  font-size: 14px;

  .input-box {
    width: 400px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    input {
      width: 80%;
      height: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 10px 20px;
      margin-bottom: 10px;
      outline: none;

      &.input-1 {
        background-color: hotpink;
      }

      &.input-2 {
        background-color: skyblue;
      }

      &.input-3 {
        background-color: yellowgreen;
      }

      &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .form-btn {
    width: 150px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    outline: none;
    background-image: linear-gradient(87deg, #47aae1, #86adbc, #a8b197, #c0b570);
    animation: bgi 5s infinite;
    position: relative;

    span {
      z-index: 999;
    }

    &::after {
      content: ' ';
      width: 162px;
      height: 36px;
      border-radius: 20px;
      background-image: linear-gradient(87deg, #75c4ee, #9ec6d6, #bef15e, #e7da87);
      position: absolute;
      top: -3px;
      left: -6px;
      opacity: 0.5;
      animation: bgi 5s infinite;
      z-index: 1;
    }

    @keyframes bgi {
      0% {
        background-img: {
          top: 0
        }
      }

      50% {}

      100% {
        background-img: {
          top: 100%
        }
      }
    }

    &:hover {
      color: oldlace;
    }
  }
}

table,
tr,
td {
  border: 1px solid hotpink;
}

.search-table {
  margin: 0 auto;
  width: 700px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  padding: 15px;

  table {
    width: 100%;
    table-layout: fixed;
    background-color: #ebdbba;
    // position: relative;

    tr {
      // display: inline-block;
      line-height: 48px;
      height: 48px;

      td {
        margin: 5px 10px;
        width: 33%;
        background-color: #ffffff;

        &:nth-child(2) {
          background-color: #f7f7f7;
        }

        &:nth-child(3) {
          background-color: #f9f2e3;
        }

        &:nth-child(4) {
          background-color: #ebdbba;
        }
      }
    }
  }
}

.deep-table-warp {
  content: '';
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(101, 67, 11, 0.05);
}