<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>album</title>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div id="app">
    <div class="album-module ">
      <div class="album-header">
        <p class="album-header-title">
          奔跑在创业一线的90、95后女性
        </p>
        <div class="album-header-content">
          在创业热潮涌现的几年里，我们见到了很多奇迹一样的创业。<br />
          有些快速崛起又快速消失，也有一些子弹还在飞的路上。<br />
          我们整理了一批在创业一线的90、95后女性创业者创立的项目。
        </div>

        <div class="album-tags">
          <span>📱22 家公司</span>
          <span>🎁2021-11-26</span>
          <span>10:55:10</span>
        </div>

        <div class="album-btn-box">
          <span>+关注</span>
          <span>下载专辑数据</span>
          <span>+追踪</span>
          <span>>>分享</span>
        </div>

      </div>

      <div class="album-body">
        <div class="album-body-list">
          <div v-for="item in 10" :key="item" class="album-body-item">

            <div class="album-item-btn-box">
              <span>关注</span>
              <span>+追踪</span>
            </div>

            <span class="album-item-report">反馈</span>

            <div class="album-body-img-box">
              <img src="https://cdn.itjuzi.com/images/0765d381ef5268f986698d0bd53e439d.png" alt="">
            </div>
            <div class="album-body-content">
              <div class="album-body-title">
                <span v-for="item in bodyTags" :key="item" class="album-body-tag">
                  {{item}}
                </span>
              </div>

              <p class="album-body-info">
                <span>最新一轮融资：</span>
                <span>2014-12-19</span>
                <span>天使轮数百万人民币</span>
              </p>

              <p class="album-body-content">
                High APP是一款女性问答及直播移动社区，
                垂直于女性用户，以两性关系解决方案与女性成长为主要内容，
                女性用户可在APP内问答求助、技能互换，并通过答案点赞数获得特
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

<script src="https://unpkg.com/vue@next"></script>
<script>
  const {
    createApp
  } = Vue

  const app = createApp({
    data() {
      return {
        bodyTags: ['社交网络', '北京', '2014.10']
      }
    }
  })
  app.mount('#app')
</script>